{% extends "base.html" %}
{% block content %}
<section class="glutton">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <div class="site-heading">
                    <h1 class="lobster-brown">{{ header }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="create-container">
        <div class="text-center">
            <div class="signup-center-form responsive">
                <h3 class="lobster-yellow">Create recipe</h3>
                <form method="POST" action="{{ url_for('create_recipe') }}">
                    <div class="padding">
                        <input id="title" name="title" minlength="5" maxlength="50" type="text" class="form-control"
                            placeholder="Recipe Title" required />
                    </div>
                    <div class="padding">
                        <textarea id="description" name="description" type="text" class="form-control"
                            placeholder="Description" required /></textarea>
                    </div>
                    <div class="padding">
                        <textarea id="ingredients" name="ingredients" class="form-control" rows="2" minlength="5"
                            placeholder="Ingredient List (One per line)" required></textarea>
                    </div>
                    <div class="padding">
                        <textarea id="instructions" name="instructions" class="form-control" rows="2" minlength="5"
                            placeholder="Instructions (One per line)" required></textarea>
                    </div>
                    <div class="padding">
                        <input id="image_url" name="image_url" class="form-control" type="url"
                            placeholder="Paste Image Url Here">
                    </div>
                    <div class="form-row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-success" data-toggle="modal"
                                data-target="submitButton">Create Recipe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
{% endblock %}