{% extends "base.html" %}
{% block content %}
<section class="glutton section-padding-top">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">
                <div class="site-heading">
                    <h1 class="lobster-brown">{{ header }}</h1>
                    <h2 class="lobster-brown">{{ subheader }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col">
            <input type="text" name="search" id="iconified" minlength="3" class="search-form padding empty"
                placeholder="&#xf002; Search" required>
        </form>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row text-center">
            {% for recipe in recipes %}
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="card">
                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}"><img src="{{ recipe.image_url }}"
                            alt="background" class="image-responsive"
                            onerror="this.src='https://raw.githubusercontent.com/PodgeCollins/EatYourFeelings_MS3/master/static/img/teeth.png';"></a>
                    <div class="container">
                        <div class="title-card">
                            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                                <h4 class="lobster-brown">{{ recipe.title }}</h4>
                            </a>
                        </div>
                        <div class="description-card">
                            <p>{{ recipe.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}